@import "../../../assets/styles/variables";

.v-card {
    background-color: #fff;    
    border-radius: $pix-8;
    box-shadow: 0 $pix-3 $pix-1 (-$pix-2) var(--panel-ng-card-box-shadow-color-1),
    0 $pix-2 $pix-2 0 var(--panel-ng-card-box-shadow-color-2),
    0 $pix-1 $pix-5 0 var(--panel-ng-card-box-shadow-color-3);
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    margin: $pix-10;

    .card-title {
        color: var(--panel-ng-card-title-font-color);
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        padding-bottom: 0.5em;
        text-transform: uppercase;
    }
}

@media (min-width: $resolution-35em) {
    .v-card {
        padding: 1em;
    }
}